.stylesButton {
    padding: 8px;
    background-color: #23646abb;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    justify-content: space-around;
    justify-items: center;
}

.stylesButton2 {
    padding: 8px;
    background-color: #fd2020bb;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    justify-content: space-around;
    justify-items: center;
}

.salvar {
    width: 20px;
    margin-right: 8px;
}

.botoesModalDelete {
    transition: transform 0.1s linear;
}

.botoesModalDelete:hover {
    transform: scale(1.1);
}