.user {
    width: 30vh !important;
    height: 30vh !important;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ccc;
}

.row2 {
    max-height: 500px;
}

.line {
    border: 1px solid #ccc;
    width: 90%;
    margin: 40px 5%;
}

.mySkill {
    margin: 0 2.2%;
}

.Skills {
    justify-content: center;
    text-align: center;
    margin: 0 8%;
}
