.mySkillContainer {
    width: 15vh;
    height: 15vh;
    padding: 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #eee;
    color: #222;
    padding: 70% 10%;
    margin-top: 50%;
}

.mySkillContainerAdd {
    width: 15vh;
    height: 15vh;
    padding: 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #eee;
    padding: 70% 10%;
    margin: 50% 0;
}

.mySkillContainer:hover {
    cursor: pointer;
    transform: scale(1.04);
    background-color: #a10000;
}

.mySkillContainerAdd:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.mySkillName {
    font-size: 1.4rem;
    text-align: center;
    color: #222;
    max-width: 100%;
    word-wrap: break-word;
}

.mySkillAdd {
    font-size: 1.4rem;
    text-align: center;
    color: #222;
    max-width: 100%;
    word-wrap: break-word;
    justify-content: center;
    margin-left: 36px;
    margin-top: -15px;
}

.mySkillRate {
    font-size: 1rem;
    text-align: center;
    color: #ccc;
    justify-content: center;
    margin: auto;
}

.mySkillRateAdd {
    font-size: 1rem;
    text-align: center;
    color: #ccc;
    padding: 44% 0;
}

.myRateContainer {
    width: 15vh;
    padding: 15px;
    margin: auto;
}

.putRate{
    color: #ccc;
}